* {
  box-sizing: border-box;
   overflow: scroll;
}

body {
  margin: -0;
  font-family: 'Catamaran','Noto Sans JP' sans-serif;
  font-size: 16px;
  line-height:  1.0;
  color: #fff;
}

img {
  max-width: 100%;
}

.box {
 height: 150px;
 overflow-y: scroll;
 /* IE, Edge 対応 */
 -ms-overflow-style: none;
 /* Firefox 対応 */
 scrollbar-width: none;
}
/* Chrome, Safari 対応 */
.box::-webkit-scrollbar {
 display:none;
}

.topPage header {
  height: 90vh;
  background: url(images/top_bg.png) no-repeat center top/cover;
  padding-top: 50px;
  margin-bottom: 64px;
}

.topPage header h1 img {
  width:  240px;
}
.topPage header h1 {
  text-align: center;
}

.linkList {
  padding: 0 20px;
}
.linkList li {
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  margin: left;
  padding: 180px 0 100px 0;
  background-image: url(kyk.png);
  background-size: 100;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  margin-bottom: auto;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 8px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #white;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 3px 9px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: left;
  margin-left: 300px;
  margin-top: 50px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}


.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.lesson-wrapper {
  height: 700px;
  padding-bottom: -100px;
  padding-left: -1%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 60px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  padding: -3px;
  text-align: top;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;

}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }    

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
/******** MOBILE LAYOUT *********/
@media only screen and (max-width: 800px) {
  header {
    position: relative;
  }

  @media screen and (max-width 640px) {
  
  }
  
  #logo {
    display: none;
  }

  #logo2 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 150px;
    left: 40%;
    margin-left: -90px;
    width: 180px;
  }



  #SiteNavigator {
    position: relative;
  }

  #button img{
    margin-bottom: 30px;
  }

  #menu {
    list-style-type: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
  }

  #menu li {
    width: 100%;
    text-align: center;
  }

  #menu li a {
    display: block;
    padding: 12px 0 12px 0;
    text-align: center;
  }

  #menu li:last-child a {
    border: none;
  }



  #text {
    margin: 50px 60px 0px 10px;
  }

article{
    padding: 50px 0 0 0;
}


#gallery {
   position: relative;
  width: 130%;
  left: -15%;
}


table th {
  font-size: 10px;
}

table td{
  font-size: 8px;
}


#name {
 position: relative;
  top: 20px;
  left: 3%;
  width: 50%;
}


#profile {
  width: 85%;
}

#profile p{
  font-size: 15px;
}

#profile2 {
  width: 85%;
}

#profile2 p{
  font-size: 12px;
}





video {
  width: 100%;
  height: 100%;
}


#info{
  margin-top: 0px;
  font-size: 25px;
}



#info2 p{
  font-size: 12px;
}

#info2 span{
  font-size: 15px;
}



  #tenlong{
    height: 80px;
  }

  #tenlong img{
    position: absolute;
    top: 5px;
    margin-left: -15px;
    width: 30px;
  }

  /* top */

  #toTop {
    bottom: 20px;
    right: 10px;
  }

  .top {
    width: 35px;
    height: 35px;
  }
